*~
*.save
*.save.[0-9]
*.pyc
._*
*DS_Store*
.ipynb_checkpoints
/.project

# installation directories
__pycache__
build/
dist/
kids_ggl_pipeline.egg-info/

# demo output
demo/earlyscience_satellites/demo_mcmc_output.*

# working folders
brouwer/
cristobal/
configs_andrej/

# docs build
docsrc/_*/*
