### General settings ###

# Source and lens catalogues
KiDS_version        0.5.7                                           # Version number of the KiDS catalogue. (Not yet working)
KiDS_path           /data2/brouwer/KidsCatalogues/LF_cat_DR2_v2     # Path to folder that contains the KiDS catalogs (optional - supersedes KiDS_version).
GAMA_version        v06                                             # Version number of the GAMA catalogue. (Not yet working)
GAMA_path           /data2/brouwer/MergedCatalogues                 # Path to folder that contains the GAMA catalogs (optional - supersedes GAMA_version).
# lens_catalog_file         /data2/brouwer/MergedCatalogues/troughs.fits    # Path to the fits file with your custom lens catalogue, containing columns for: 'ID', 
                                                                    # 'RA', 'DEC', ('Z' for Mpc/kpc, used lens paramaters) (optional - supersedes GAMA catalog). (Not yet working)

# cosmology
Om                  0.315                                           # Omega matter.
Ol                  0.685                                           # Omega Lambda. (Not yet working, please use: 1-Om)
Ok                  0                                               # Omega curvature. (Not yet working, please use: 0)
h                   1.0                                             # Reduced Hubble constant. (h = H0/(100 km/s/Mpc))


### ESD Production ###

# Algorithm
ESD_output_folder     /disks/shear10/brouwer_veersemeer/pipeline_testresults            # path to output folder.
ESD_output_filename   oldcatmatch                      # This flag will be appended to the filenames (optional).
ESD_purpose           shearcatalog                     # One of {'shearcatalog', 'shearcovariance', 'shearbootstrap',
# ESD_purpose         randomcatalog                    #     'randomcatalog', 'randombootstrap'}.
#Rbins                1                                # One of the standard options (1-5, see help file), (Not yet working) or
#Rbins                Rbins.txt                        #     either a file with the radial binning or a
Rbins                 10,20,2000                       #     comma-separated list with (Rmin,Rmax,Nbins).
#Runit                kpc                              # One of these physical {kpc, Mpc} or sky {arcmin, deg} coordinates. (Not yet working, Runit = kpc)
ncores                3                                # Any number of cores your machine can use to run the code.

# Lens selection
lensid_file           None                             # List of IDs (optional - supersedes lens all lens choices below). (Not yet working)
group_centre          BCG                              # One of {BCG, IterCen, Cen}.
lens_ranks            Centrals                         # Choose from {'Isolated' (-999), 'Centrals' (1), 'Satellites' (2 inf), 'All' (-999 inf), Group (1 inf)} or
# lens_ranks          -999,inf                         #     use one value, or two comma separated limits between -999 and inf.
lens_binning          None                             # Lens parameter for binning, and (at least 3) bin edges (bins[i-1] <= x < bins[i])
lens_binning          LumB       4                     #     or the number of bins (creates bins with equal number of lenses).
#lens_limits1         Nfof       2                     # Lens parameter for limits and one value, or
lens_limits1          Nfof       5,inf                 #     two comma separated limits between -inf and inf.
#lens_limits3

# Source selection
kids_blinds           A,B,C,D		                   # Blind KiDS catalog(s) used for this run. Choose any comma separated combination of {A,B,C,D}. (Remove)
src_limits1           Z_B        0.005,1.2             # Source parameter for limits and one value, or
# src_limits2                                          #     two comma separated limits between -inf and inf.


### Halo Model ###

model             satellites.fiducial          # the name of the halo model python function
# Halo model parameters
hm_param          sat_profile    function    nfw.esd_sharp
hm_param          group_profile  function    nfw.esd_offset
hm_param          Rsat           read        logAngSepBCG_fine.dat  0
hm_param          n_Rsat1        read        logAngSepBCG_fine.dat  1
hm_param          n_Rsat2        read        logAngSepBCG_fine.dat  2
hm_param          n_Rsat3        read        logAngSepBCG_fine.dat  3
hm_param          rsat_range     read        logAngSepBCG_fine.dat  0
hm_param          fc_sat         fixed        1.0
hm_param          Msat1          uniform      7.0     13      11.2
hm_param          Msat2          uniform      7.0     13      11.5
hm_param          Msat3          uniform      7.0     13      12.0
hm_param          fc_group       uniform        0      2       0.5
hm_param          Mgroup1        uniform     10.0   15.0      13.4
hm_param          Mgroup2        uniform     10.0   15.0      13.5
hm_param          Mgroup3        uniform     10.0   15.0      14.0
hm_params         zgal           fixed              0.17,0.19,0.21
hm_params         Mstar          fixed     2.82e10,3.24e10,4.57e10
#hm_functions      abs,min
#hm_functions      itertools izip
#hm_functions      numpy     array,cumsum,digitize,log,all,transpose,zeros
#hm_functions      nfw       mass_total_sharp
#hm_functions      utils     cm_duffy08,delta,nfw_profile
# these are extras returned by the model; last column are the fits formats (see pyfits docs)
hm_output         esd1,esd2,esd3                   12E,12E,12E
hm_output         esd_sat1,esd_sat2,esd_sat3       12E,12E,12E
hm_output         esd_host1,esd_host2,esd_host3    12E,12E,12E
hm_output         rsat1,rsat2,rsat3                E,E,E
hm_output         rt1,rt2,rt3                      E,E,E
hm_output         Msat1_rt,Msat2_rt,Msat3_rt       E,E,E


### Parameter Sampling ###
data                 esd.txt            0,1,4 # files containing the ESD profile.
                                              # Columns are (R,ESD_t[,1+K(R)]). Should be one file
                                              # per lens bin
covariance           covariance.txt     4,6   # file containing the covariance.
                                              # Columns are (cov[,1+K(R)]).
sampler_output       mcmc_output.fits       # output filename (FITS format)
sampler              emcee                    # MCMC sampler
nwalkers	     500
nsteps		     600 
nburn		     0 
thin		     1 
k		     5 
threads		     4
sampler_type	     ensemble

