### ESD Production ###

# Lens selection
lens_idfile          None            # list of GAMA IDs (optional)
lens_param1          Rank            # <comment>
lens_bins1           1               # bins or selection for param1
lens_param2          logmstar        #
lens_bins2           9,10,11,12      #
lens_param3          z               #
lens_bins            0,0.2           #

# Source selection
src_param1           size            #
src_bins1            0,5             #
src_param2           Z_B             #
src_bins2            0.005,1.2       #

# Algorithm
input
purpose              covariance      # <available options>
rbins                1               # one of the standard options (1-5, see help file), or a list of bin edges

### Halo Model ###

data                 esd.txt         # file containing the ESD profile
covariance           covariance.txt  # file containing the covariance
model                fiducial        # 
<model_parameters>
...


### Parameter Sampling ###
sampler              emcee
<sampler_parameters>
...
