### General settings ###

# Source and lens catalogues
KiDS_path           /data2/dvornik/KidsCatalogues/LF_cat_DR2_v2             # Path to folder that contains the KiDS catalogs (optional - supersedes KiDS_version).
GAMA_path           /data2/dvornik/MergedCatalogues/GAMACatalogue_1.0.fits  # Path the GAMA catalog (optional - supersedes GAMA_version).
# lens_catalog      /data2/brouwer/MergedCatalogues/troughs.fits            # Path to the fits file with your custom lens catalogue (supersedes GAMA catalog),
#     containing columns for: 'ID', 'RA', 'DEC', optional: 'Z' (if Runit = *pc), used lens paramaters.

# cosmology
Om                  0.315                                       # Omega matter.
Ol                  0.685                                       # Omega Lambda. (Not yet working, please use: 1-Om)
Ok                  0                                           # Omega curvature. (Not yet working, please use: 0)
h                   1.0                                         # Reduced Hubble constant. (h = H0/(100 km/s/Mpc))


### ESD Production ###

# Algorithm
ESD_output_folder     /data2/dvornik/AssemblyBias/pipeline_results            # Path to ESD output folder.
ESD_output_filename   AssemblyBias                            # This flag will be appended to the filenames (optional).
ESD_purpose           shearcovariance                    # One of {'shearcatalog', 'shearcovariance', 'shearbootstrap',
# ESD_purpose         randomcatalog                    #     'randomcatalog', 'randombootstrap'}.
#Rbins                1                                # One of the standard options (1-5, see help file), (Not yet working) or
#Rbins                Rbins.txt                        #     either a file with the radial binning or a
Rbins                 10,20,2000                       #     comma-separated list with (Nbins,Rmin,Rmax).
Runit                 kpc                              # One of these physical {pc, kpc, Mpc} or sky {arcsec, arcmin, deg} coordinates.
ncores                12                                # Any number of cores your machine can use to run the code.

# Lens selection
lensID_file       None                                 # Path to text file with chosen lens IDs (optional).
lens_weights      mstarweight     /data2/dvornik/AssemblyBias/cm_weights.fits                           # Weight name and path to fits file with lens weights (optional). (Not yet working)

lens_binning       cm_cut         /data2/dvornik/AssemblyBias/cm_cut.fits       0,1,2,3,4

lens_limits1       RankBCG       self      1           # Lens parameter for limits, path to fits file (choose "self" for same as lens catalog), and
lens_limits2       Nfof          self      3,20       #      (one value) or (two comma separated limits) between -inf and inf. Choose from {'Isolated' (-999),
                                                        #       'Centrals' (1), 'Satellites' (2 inf), 'All' (-999 inf), Group (1 inf)}



# Source selection
src_limits1           Z_B        0.005,1.2             # Source parameter for limits and one value, or
# src_limits2                                          #     two comma separated limits between -inf and inf.
kids_blinds             D



### Halo Model ###

model             nfw_stack.fiducial_bias_cm       # the name of the halo model python function

#sat_profile, central_profile, fsat, fc_sat, logMsat1, logMsat2, fc_central1, fc_central2, logMcentral1, logMcentral2, z, Mstar, Rrange, angles = theta
#central_profile, fc_central1, fc_central2, logMcentral1, logMcentral2, b_in1, b_in2, z, Mstar, Rrange, angles = theta

# Halo model parameters
#hm_param          sat_profile     function    nfw.esd
hm_param          central_profile function    nfw.esd
#hm_params         fsat            fixed       0.750649223382,0.689281712934
#hm_param          fc_sat          fixed       1.0
#hm_param          Msat1           uniform     10.0   15.0      12.0
#hm_param          Msat2           uniform     10.0   15.0      12.0
hm_param          fc_cen1         uniform     0.0       6.0         1.0
hm_param          fc_cen2         uniform     0.0       6.0         1.0
hm_param          fc_cen3         uniform     0.0       6.0         1.0
hm_param          fc_cen4         uniform     0.0       6.0         1.0
hm_param          Mcen1           uniform     11.0   15.0      13.0
hm_param          Mcen2           uniform     11.0   15.0      13.0
hm_param          Mcen3           uniform     11.0   15.0      13.0
hm_param          Mcen4           uniform     11.0   15.0      13.0
hm_param          b_in1           fixed     1.0
hm_param          b_in2           fixed     1.0
hm_param          b_in3           fixed     1.0
hm_param          b_in4           fixed     1.0
hm_params         zgal            fixed       0.154432550073,0.230430200696,0.303775966167,0.291583448648
hm_params         Mstar           fixed       10.2757129669,10.7478971481,11.1759471893,10.6771392822


# these are extras returned by the model; last column are the fits formats (see pyfits docs)
hm_output         esd_total1,esd_total2,esd_total3,esd_total4            10E,10E,10E,10E
hm_output         esd_cen1,esd_cen2,esd_cen3,esd_cen4               10E,10E,10E,10E
#hm_output         esd_sat1,esd_sat2,esd_sat3,esd_sat4                10E,10E,10E,10E
hm_output         esd_2halo1,esd_2halo2,esd_2halo3,esd_2halo4            10E,10E,10E,10E
hm_output         Mavg1,Mavg2,Mavg3,Mavg4                      E,E,E,E


### Parameter Sampling ###


data                /data2/dvornik/AssemblyBias/pipeline_results/output_cm_cutbins_AssemblyBias/results_shearcatalog/shearcatalog_cm_cutbin*of4_Nfof3-20_RankBCG1_lw-mstarweight_Z_B0p005-1p2_Rbins10-20-2000kpc_Om0p315_Ol0p685_Ok0_h1_AssemblyBias_D.txt 0,1,4 # files containing the ESD profile.
# Columns are (R,ESD_t[,1+K(R)]). Should be one file
# per lens bin
covariance          /data2/dvornik/AssemblyBias/pipeline_results/output_cm_cutbins_AssemblyBias/results_shearcovariance/shearcovariance_matrix_cm_cutbins4_Nfof3-20_RankBCG1_lw-mstarweight_Z_B0p005-1p2_Rbins10-20-2000kpc_Om0p315_Ol0p685_Ok0_h1_AssemblyBias_D.txt   4,6   # file containing the covariance.
# Columns are (cov[,1+K(R)]).
#exclude_bins        10,11,12,13,14
sampler_output       /data2/dvornik/AssemblyBias/mcmc_output/cm_cut_weight_mcmc_nfof3-20_10bins.fits       # output filename (FITS format)
sampler              emcee                    # MCMC sampler
nwalkers	         120
nsteps               500
nburn		         0
thin		         1
k   		         1
threads		         12
sampler_type	     ensemble

