# Name of the function containing the desired model
model             cluster.model
preamble          cluster.preamble


## Halo model parameters

[observables]
logMsz          gm  14.20,14.40,14.45,14.50,14.55,14.60,14.90   14.40,14.45,14.50,14.55,14.60,14.90,15.2    log

[selection]
data/act_20210126/completeness.txt      z,log10m,completeness    fixed_width

[ingredients]
centrals        True
pointmass       False
satellites      False
miscentring     False
twohalo         True
nzlens          False
haloexclusion   False

[cosmo]
sigma8         fixed     0.82
h              fixed     0.68
Om0            fixed     0.31
Ob0            fixed     0.049
n_s            fixed     0.97
w0             fixed    -1.0
wa             fixed     0.0
Neff           fixed     3.046
z              array     0.3,0.35,0.35,0.35,0.27,0.31,0.28


[hod/pointmass]
logmstar        array     13,13,13,13,13,13,13
point_norm      fixed     1
[hod/centrals/concentration]
name            cmz_powerlaw
cosmo.z
logM0           fixed       14.9
z0              fixed       0.3
a_c             uniform     0       1       0.4
b_c             uniform     -1      1       0.4
c_c             fixed       0
[hod/centrals/mor]
name            powerlaw
logM0           fixed       14.9
a                uniform    13      16      14.6
b               uniform     -1      2       0.8
[hod/centrals/scatter]
name            lognormal
sigma_c         jeffreys    0.001    0.5     0.1
[hod/centrals/miscentring]
name            rayleigh
p_off           uniform     0       0.5     0.1
R_off           array       0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1
tau             uniform     0       0.5     0.2
[hod/centrals/twohalo]
bias            uniform     0.2     3       1


## Halo model output
[output]
esd_total
Mavg


### Parameter Sampling ###

[sampler]
path_data           cluster_kids_advact
data                BCG_logmbin*_ESD.npy    0,1
path_covariance     cluster_kids_advact
covariance          BCG_msz_cov.npy     0
cov_format          2d
exclude             0,1,2,3
output              halo_model_results/cluster_kids_advact.h5
sampler             emcee                    # MCMC sampler
nwalkers	        100
nsteps              10
nburn		        0
thin		        1
threads		        8
sampler_type	    ensemble
update              1000
stop_when_converged True
autocorr_factor     100
resume              False

