############################
### Specific for halo.py ###
############################


########
##
## This file is ready to be used with
##   $ kids_ggl -c ggl_halomodel.config --sampler [--demo [--no-cov]] [-f]
##
## For help with the structure of this file see docs.
##
########


model             halo.model

[observables]
logmstar    gm    10.3,10.6,10.9    10.6,10.9,18.0    log
logmstar    gg    10.3,10.6,10.9    10.6,10.9,18.0    log

[selection]
None

[ingredients]
centrals        True
pointmass       True
satellites      True
miscentring     False
twohalo         True
haloexclusion   False
nzlens          False

[cosmo]
sigma_8         fixed     0.8159
h               fixed     0.6774
omegam          fixed     0.3089
omegab          fixed     0.04860
n               fixed     0.9667
w0              fixed     -1.0
wa              fixed     0.0
Neff            fixed     3.046
z               array     0.244809,0.284467,0.318127,0.244809,0.284467,0.318127


[hod/pointmass]
logmstar        array      10.4601,10.743,11.1313
point_norm      fixed      1.0


[hod/centrals/concentration]
name            duffy08_mean
cosmo.z         repeat
f_c             uniform     0.2     5       1
cosmo.h         repeat


[hod/centrals/mor]
name            double_powerlaw
logM0           fixed        9.6
logM1           fixed        11.25
a               fixed        3.41
b               fixed        0.99


[hod/central/scatter]
name            lognormal
sigma_c         uniform      0.2     5       0.35

[hod/centrals/miscentring]
p_off           fixed       0.9
r_off           fixed       1.0

[hod/twohalo]
bias            uniform     0.2     5       1

[hod/satellites/concentration]
name            duffy08_mean
cosmo.z         repeat
f_c_s           array       1.0
cosmo.h

[hod/satellites/mor]
name            double_powerlaw
hod.centrals.mor.logM0      repeat
hod.centrals.mor.logM1      repeat
hod.centrals.mor.a          repeat
hod.centrals.mor.b          repeat
norm            fixed       0.56

[hod/satellites/scatter]
name            modschechter
logMref         fixed   12.0
alpha_s         fixed   -1.34
b               fixed   -1.15      join:b
b               fixed   0.59       join:b
b               fixed   0.0        join:b

# Poisson parameter, beta = <N_s (N_s - 1)|M>/<N_s|M>^2 (Eq. 42 in Dvornik et al. 2018)
[hod/satellites/beta]
beta            fixed    1

[setup]
return          esd_wp
delta           200
delta_ref       SOMean # one of FOF, SOCritical, SOMean, SOVirial, see documentation of hmf!
distances       comoving
# note that these are input units
R_unit          kpc
esd_unit        Msun/pc^2
cov_unit        Msun^2/pc^4
# these are optional
transfer        EH
lnk_bins        5000
lnk_min         -13
lnk_max         17
logM_min        9
logM_max        18
logM_bins       200

[output]
signal
Mavg

[sampler]
path_data            lensing_clustering_halomodel_covariance
data                 bin*.txt     0,1,2
path_covariance      lensing_clustering_halomodel_covariance
covariance           cov_2d.txt   0
#exclude              0,1
cov_format           2d
output               halo_model_results/model_2.h5
sampler              emcee                    # MCMC sampler
nwalkers             10
nsteps               2
nburn                0
thin                 1
threads              4
sampler_type         ensemble
update               100
stop_when_converged     True
autocorr_factor         100
resume                 True